@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg1: #0F0715;
    --bg2: #190B24;
    --white: #fff;
    --accent1: #D121AB;
    --accent2: #DD0031;
    font-family: Poppins;
    color: var(--white);

    --slide-margin: 1rem;
}

body.debug {
    --bg1: #fff;
}

body {
    margin: 0;
    background: var(--bg2);
}

h1,
h2 {
    margin: 0;
}

.slide {
    margin: var(--slide-margin);
    height: calc(100dvh - (2 * var(--slide-margin)));
    border-radius: 1rem;
    padding: 1rem;
}

.bg1 {
    background: var(--bg1);
}

.bg2 {
    background: var(--bg2);
}

.thin-border {
    border: 1px solid rgb(44, 44, 44);
}

#hero {
    display: flex;
    justify-content: space-between;
    --common-padding: 3rem;
}

#hero h1 {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

#hero h1 span:last-child {
    font-size: 1.3rem;
}

#hero #left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: var(--common-padding) 0;
}

#hero #profile-pic {
    background: #fff;
    border-radius: 40rem;
    display: flex;
    justify-content: center;
    height: 15rem;
    width: 15rem;
}

#hero #left h2 {
    max-width: min-content;
}

.img-responsive {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero #left img {
    border-radius: 40rem;
    transform: scale(0.96);
}

#hero #right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--common-padding) 0;
}

#hero #right>div {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero #right>div img {
    height: 100%;
    width: 100%;
}